PORT=5001
MONGO_URI=
MONGO_USER=
MONGO_PASSWORD="your_password_here"
MONGO_HOST=cluster0.nxlvpsj.mongodb.net
MONGO_PROTOCOL=mongodb+srv
MONGO_PORT=
MONGO_OPTIONS=retryWrites=true&w=majority&appName=Cluster0
MONGO_DB_NAME=seedscraft
MONGO_SERVER_SELECTION_TIMEOUT_MS=5000
JWT_SECRET=y7388436efb4b484cd9592a1d96df8dcde16fe8557c49df3d4870d350ff4b1891c41cc8f197d63b23dfd2e902d14d067d8c1f6ce50fa2f9f9a41dfa3e5557b75e
JWT_EXPIRE=30d
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret
NODE_ENV=development
